<div class="sheet edit-sheet">
  <nav class="titlebar">
    <h1 class="title">Edit event</h1>
    <a class="button right done">Done</a>
  </nav>
  <section class="edit-fields">
    <table>
      <tbody>
        <tr>
          <td>Title</td>
          <td>Coachella</td>
        </tr>
        <tr>
          <td>Who</td>
          <td class="default">Everyone</td>
        </tr>
        <tr>
          <td>What</td>
          <td class="default" data-sheet-link="what-sheet">Keywords &amp; hashtags</td>
        </tr>
        <tr>
          <td>When</td>
          <td class="default" data-sheet-link="when-sheet">Past 7 days</td>
        </tr>
        <tr>
          <td>Where</td>
          <td class="default">Anywhere</td>
        </tr>
      </tbody>
    </table>
  </section>
</div>