  <header class="event-header">
    <section class="header-slider" id="eventSlider">
      <ul>
        <li class="title-slide" style="display:block">
          <h1 class="event-header-title">Coachella</h1>
          <h2 class="event-header-attribution">Created by @dhg</h2>
          <img class="event-header-bg" src="img/coachella/header-collage.png" width="320" height="160" alt="">
        </li>
        <li class="geo-slide" style="display:none">
          <img src="img/coachella/map2.jpg" width="320" height="160" alt="">
        </li>
        <li class="tps-slide" style="display:none">
          <img src="img/coachella/tps3.png" width="320" height="160" alt="">
        </li>
        <li style="display:none">
          <div class="timeline-controls">
            <a href="#" class="button" data-toggle="guttered">Toggle gutters</a>
            <a href="#" class="button" data-toggle="fullbleed">Toggle fullbleed media</a>
            <a href="#" class="button" data-toggle="media-on-top">Toggle media position</a>
          </div>
        </li>
      </ul>
      <ul class="header-pips">
        <li class="active">1</li>
        <li>2</li>
        <li>3</li>
      </ul>
    </section>
    <ul class="header-stats">
      <li>
        <span class="stat-value">3,612</span>
        <span class="stat-title">Tweets</span>
      </li>
      <li data-sheet-link="contributors-sheet">
        <span class="stat-value">239</span>
        <span class="stat-title">Contributors</span>
      </li>
      <li>
        <span class="stat-value">2,283</span>
        <span class="stat-title">Followers</span>
      </li>
    </ul>
    <ul class="header-controls">
      <li>
        <a href="#" class="button">Follow</a>
      </li>
      <li>
        <a href="#" class="edit button" data-sheet-link="edit-sheet">Edit</a>
      </li>
    </ul>
  </header>