{{>edit_sheet}}
{{>when_sheet}}
{{>contributors_sheet}}

<div class="container fullbleed">
  <nav class="titlebar">
    <h1 class="title">Coachella</h1>
    <a class="button right tweet-button">
      <img src="img/quill.png" width="22" height="18" alt="">
    </a>
  </nav>
  {{>event_header}}
  {{>timeline}}
</div>

<div class="navbar"></div>

{{>media_grid_sheet}}
{{>map_sheet}}
{{>photo_sheet}}
{{>tps_sheet}}