<div class="map-sheet">
  <div class="geo-map">
    <img class="map-image" src="img/coachella/map-full.jpg" alt="">
  </div>
</div>
 <nav class="map-titlebar titlebar dark">
  <a class="button left">Close</a>
  <h1 class="title">Map</h1>
</nav>
<div class="photo-footer">
  <div class="overlay-tweet">
    <div class="overlay-tweet-inner">
      <div class="avatar">
        <img src="https://twimg0-a.akamaihd.net/profile_images/1793967733/avatar-3002_reasonably_small.png" alt="">
      </div>
      <div class="overlay-tweet-content">
        <div class="tweet-author">
          <span class="realname">Dave Gamache</span>
          <span class="username"> @dhg</span>
        </div>
        <p class="tweet-text">This is one of the best music festivals I've ever been to. </p>
      </div>
    </div>
  </div>
  <div class="actions">
    <img src="img/actions-bar.png" alt="">
  </div>
</div>