<div class="photo-sheet">
  <img src="img/coachella/jayz.png" class="primary-photo">
</div>

<nav class="photo-titlebar dark titlebar">
  <a class="button left">Close</a>
  <h1 class="title">Photo</h1>
</nav>