  <section class="timeline">

  <!-- Media below -->
  <div class="media-below-timeline">
    {{>tweet:tweet_connors}}
    {{>tweet:tweet_zhanna}}
    {{>tweet:tweet_dhg}}
    {{>tweet:tweet_mdo}}
    {{>tweet:tweet_fat}}
    {{>tweet:tweet_allfatherodin}}
  </div>

  <!-- Media above -->
  <div class="media-above-timeline">
    {{>tweet_mediatop:tweet_connors}}
    {{>tweet_mediatop:tweet_zhanna}}
    {{>tweet_mediatop:tweet_dhg}}
    {{>tweet_mediatop:tweet_mdo}}
    {{>tweet_mediatop:tweet_fat}}
    {{>tweet_mediatop:tweet_allfatherodin}}
  </div>
</section>