<div class="tps-sheet">
  <img class="tps-image" src="img/coachella/tps-full.jpg" alt="">
</div>
<nav class="tps-titlebar titlebar dark">
  <a class="button left">Close</a>
  <h1 class="title">Stats</h1>
</nav>