<div class="sheet subsheet what-sheet">
  <nav class="titlebar">
    <a class="button left">Cancel</a>
    <h1 class="title">Keywords</h1>
    <a class="button right">Done</a>
  </nav>
  <form class="keywords" action="">
    <textarea>
      Coachella
    </textarea>
  </form>
</div>