<div class="sheet subsheet when-sheet">
  <nav class="titlebar">
    <a class="button left">Cancel</a>
    <h1 class="title">Date &amp; time</h1>
    <a class="button right">Done</a>
  </nav>
  <section class="edit-fields">
    <table>
      <tbody>
        <tr>
          <td>Starts</td>
          <td>
            Jul 18, 2012 12:00 PM
            <form action="">
              <input type="datetime" class="datetime">
            </form>
          </td>
        </tr>
        <tr>
          <td>Ends</td>
          <td>
            Jul 18, 2012 8:00 PM
            <form action="">
              <input type="datetime" class="datetime">
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>